export PYTHONPATH=\
$(pwd)/litex:\
$(pwd)/litedram:\
$(pwd)/liteeth:\
$(pwd)/litepcie:\
$(pwd)/litesata:\
$(pwd)/litesdcard:\
$(pwd)/liteiclink:\
$(pwd)/litejesd204b:\
$(pwd)/litevideo:\
$(pwd)/litescope:\
$(pwd)/litex-boards:\
$(pwd)/migen

